{% extends "base.html" %}

{% block uniquepage %}
<h1> {{title}} </h1>
<form method="post" action="">
    {{ form.hidden_tag() }}
    <p>
        {{form.name.label}}
        <br>
        {{form.name(size=32)}}
        <br>
        {% for error in form.name.errors %}
         <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.pwd.label}}
        <br>
        {{form.pwd(size=32)}}
        <br>
        {% for error in form.pwd.errors %}
         <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
       {{form.remember_me()}} {{form.remember_me.label}}
    </p>
    <p>
        {{form.submit()}}

    </p>
    <p>
        New User? <a href="{{url_for('register')}}">Sign-Up</a>
    </p>

</form>
{% endblock %}